#page {
    background-color: rgb(50, 170, 110);
    
}

.heading {
    text-align: center;
    font: Helvetica, verdana, sans-serif;
    font-weight: 400px;
    font-size: 32px;
    align-items: center;
}

.goku-picture{
    height: 400px;
}

.content{
    font: comic, Verdana, sans-serif;
}

.butcher-steak{
    height: 100px;
    width: auto;
}